<section data-ng-controller="ProductsController" data-ng-init="find()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>List Products</h2>
      <ol class="breadcrumb">
        <li>
          <a href="#!/">Home</a>
        </li>
        <li class="active">
          <strong>List Products</strong>
        </li>
      </ol>
    </div>
  </div>

  <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
    No Products yet, why don't you <a href="/#!/products/create">create one</a>?
  </div>  
  <div class="ibox float-e-margins" data-ng-show="products.length>0">
    <div class="ibox-title">
      <h5>Products ({{products.length}})</h5>
      <div class="ibox-tools">
        <a href="/#!/products/create" class="btn btn-primary btn-xs">Create</a>
      </div>
    </div>
      
    <div class="ibox-content">
      <div class="input-group">
        <input type="text" ng-model="searchtext" placeholder="Search product" class="input form-control">
        <span class="input-group-btn">
            <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
        </span>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
              
              <th>Product Name</th>
              
              <th>Company Name</th>
              
              <th>Product Category</th>
              
              <th>Unit Of Measure</th>
              
              <th>Image Of The Product</th>
              
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="product in products | filter: searchtext">
              
                
              <td>{{ product.productName }}</td>
              
              
                
              <td>{{ product.companyName }}</td>
              
              
                
              <td>{{ product.productCategory }}</td>
              
              
                
              <td>{{ product.unitOfMeasure }}</td>
              
              
                
              <td>{{ product.imageOfTheProduct }}</td>
              
              
              
              <td><a class="glyphicon glyphicon-edit" href="/#!/products/{{product._id}}/edit"></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>