<section data-ng-controller="InventoriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Inventory</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/inventories">Inventory</a>
          </li>
          <li class="active">
            <strong>Modify Inventory</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="productName">Product Name</label>
                <div class="controls">
                  <input type="Text" data-ng-model="inventory.productName" id="productName" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="lotorbatchnumber">Lot Or Batch Number</label>
                <div class="controls">
                  <input type="Text" data-ng-model="inventory.lotOrBatchNumber" id="lotorbatchnumber" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="expiryDate">Expiry Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="inventory.expiryDate" id="expiryDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="quantity">Quantity</label>
                <div class="controls">
                  <input type="Number" data-ng-model="inventory.quantity" id="quantity" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="purchasePrice">Purchase Price</label>
                <div class="controls">
                  <input type="Number" data-ng-model="inventory.purchasePrice" id="purchasePrice" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>